



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-footnote.min.js"></script>

<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-container.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-deflist.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-ins.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-mark.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-smartarrows.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-emoji.min.js"></script>

<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it.min.js"></script>

<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-checkbox.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/plugins/markdown-it/markdown-it-cjk-breaks.min.js"></script>

<script src="http://twemoji.maxcdn.com/2/twemoji.min.js?11.0"></script>

<script src="~/wysiwyg_Markdown_editor/plugins/highlight/highlight.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

<script src="~/wysiwyg_Markdown_editor/js/markdown-editor.min.js"></script>
<script src="~/wysiwyg_Markdown_editor/themes/fa4/theme.js"></script>

@*<form>
<textarea id="kv-01" rows="15" class="markdown" required data-bs-version="3" data-theme="fa4" title="Krajee Markdown Editor">

</textarea>
    <hr>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Submit</button>
        </div>
        <div class="col-sm-2">
            <button type="reset" class="btn btn-block btn-default"><i class="fa fa-ban"></i> Reset</button>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</form>*@