<div class="col-md-3">
    <div class="btn-group">
        <button>1</button>
        <button>1</button>
        <button>1</button>
        <button>1</button>
        <button>1</button>
    </div>
</div>
<div class="col-md-9">
    <p>text</p>
</div>