@model ExampleWebSite.ViewModels.CreateCollectionViewModel

<script>
     $(document).ready(function () {
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetThemes", "Theme")",
                dataType: "text",
                success: function (data) {
                    var arr = JSON.parse(data)
                    arr.forEach(el => $("#themes").append(`<option value="${el.title}">${el.title}</option>`));
                },
                error: function () {
                }
            })
        })
</script>

<h1>Create Collection</h1>

<form enctype="multipart/form-data" asp-action="Create" asp-controller="Collection" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="collection.Title"></label>
        <input asp-for="collection.Title" />
        <span asp-validation-for="collection.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="collection.ShortDesc"></label>

        <textarea asp-for="collection.ShortDesc" id="kv-01" rows="15" class="markdown" required data-bs-version="3" data-theme="fa4" title="Krajee Markdown Editor">
    </textarea>
        <hr>
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-check"></i> Submit</button>
            </div>
            <div class="col-sm-2">
                <button type="reset" class="btn btn-block btn-default"><i class="fa fa-ban"></i> Reset</button>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <span asp-validation-for="collection.ShortDesc"></span>
    </div>

    <div class="form-group">
        <label>image</label>
        <input asp-for="ImageFile" accept="image/jpg,image/jpeg" />
    </div>

    <div class="form-group">
        <input type="text" asp-for="ThemaTitle" list="themes" />
    </div>

    <div id="generateElement">

    </div>

    <input hidden id="num" value="0" type="number" />
    <input hidden id="str" value="0" type="number" />
    <input hidden id="date" value="0" type="number" />

    <datalist id="themes" name="">
    </datalist>

    <input type="submit" value="@ViewResourcesModel["Create"]" />
</form>

<h1>@ViewResourcesModel["AddNewPropertiesMessage"]</h1>
<p>@ViewResourcesModel["AddNewPropertiesMessageDetails"]</p>
<button onclick="createNum()">number</button>
<button onclick="createStr()">String</button>
<button onclick="createDate()">Date</button>

<button>string</button>

@*<button onclick="loadTheme()">load</button>*@

<script>
    function createNum() {
        var val = parseInt($("#num").val()) + 1
        if (val < 4) {
            $("#generateElement").append(`<input type="text" name="PropertiesNumTitles" placeholder="name N"/>`);
            $("#num").val(val)
        }
        else $("#num").val(3)
    }

    function createStr() {
        var val = parseInt($("#str").val()) + 1
        if (val < 4) {
            $("#generateElement").append(`<input type="text" name="PropertiesStrTitles" placeholder="name S"/>`);
            $("#str").val(val)
        }
        else $("#str").val(3)
    }

    function createDate() {
        var val = parseInt($("#date").val()) + 1
        if (val < 4) {
            $("#generateElement").append(`<input type="text" name="PropertiesDateTitles" placeholder="name D"/>`);
            $("#date").val(val)
        }
        else $("#date").val(3)
    }
</script>