@model ExampleWebSite.ViewModels.CreateCollectionViewModel

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script>
     $(document).ready(function () {
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetThemes", "Theme")",
                dataType: "text",
                success: function (data) {
                    var arr = JSON.parse(data)
                    arr.forEach(el => $("#themes").append(`<option value="${el.title}">${el.title}</option>`));
                    arr.forEach(el => $("#ffff").append(`<h1>${el.title}</h1>`));
                    //alert(data);
                },
                error: function () {
                   // alert("error");
                   // document.getElementById("status_w").innerHTML = "error";
                }
            })
        })
</script>

<h1>Create Collection</h1>
<form asp-action="Create" asp-controller="Collection" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="collection.Title"></label>
        <input asp-for="collection.Title" />
        <span asp-validation-for="collection.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="collection.ShortDesc"></label>
        <input asp-for="collection.ShortDesc" />
        <span asp-validation-for="collection.ShortDesc"></span>
    </div>
    @*<div class="form-group">
            <label asp-for="collection.Image"></label>
            <input type="file" asp-for="collection.Image" />
            <span asp-validation-for="collection.Image"></span>
        </div>*@
    <div class="form-group">
        <input type="text" asp-for="ThemaTitle" list="themes" />
    </div>

    <div id="generateElement">

    </div>

    @*<input id="num" value="0" type="number" asp-for="PropertiesNum" />
        <input hidden id="str" value="0" type="number" asp-for="PropertiesStr" />
        <input hidden id="date" value="0" type="number" asp-for="PropertiesDate" />*@

    <input id="num" value="0" type="number" />
    <input hidden id="str" value="0" type="number" />
    <input hidden id="date" value="0" type="number" />


    @*<input hidden id="" asp-for=""/>*@


    @* <input type="text" asp-for="ThemaTitle" name="ThemaTitle" list="themes">*@


    <datalist id="themes" name="">
    </datalist>

    <input type="submit" value="Sent" />
</form>

<h1>wanna you add new data</h1>
<button onclick="createNum()">number</button>
<button onclick="createStr()">String</button>
<button onclick="createDate()">Date</button>

<button>string</button>

@*<button onclick="loadTheme()">load</button>*@

<script>
    function createNum() {
        var val = parseInt($("#num").val()) + 1
        if (val < 4) {
            $("#generateElement").append(`<input type="text" name="PropertiesNumTitles" placeholder="name N"/>`);
            $("#num").val(val)
        }
        else $("#num").val(3)
    }

    function createStr() {
        var val = parseInt($("#str").val()) + 1
        if (val < 4) {
            $("#generateElement").append(`<input type="text" name="PropertiesStrTitles" placeholder="name S"/>`);
            $("#str").val(val)
        }
        else $("#str").val(3)
    }

    function createDate() {
        var val = parseInt($("#date").val()) + 1
        if (val < 4) {
            $("#generateElement").append(`<input type="text" name="PropertiesDateTitles" placeholder="name D"/>`);
            $("#date").val(val)
        }
        else $("#date").val(3)
    }
</script>