@model CollectionModel

<h1>@Model.Title</h1>
<h2>@Model.ShortDesc</h2>

<form method="post" asp-action="Delete" asp-controller="Collection">
    <input class="bg-danger" type="submit" asp-route-id="@Model.Id" value="@ViewResourcesModel["Delete"]"/>
</form>