@model ExampleWebSite.ViewModels.CollectionDetailsViewModel

<h1>Details</h1>

@if (Model.items != null)
{
    foreach (var item in Model.items)
    {
        <h4>@item.Title</h4>
    }
}

<a asp-action="create" asp-controller="item" asp-route-collectionid="@Model.collection.Id">create Item</a>