@model EditCollectionViewModel

<script>
     $(document).ready(function () {
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetThemes", "Theme")",
                dataType: "text",
                success: function (data) {
                    var arr = JSON.parse(data)

                    select = document.getElementById('Themss');
                    arr.forEach(el => {
                        var opt = document.createElement('option');
                        opt.value = el.title;
                        opt.innerHTML = el.title;
                            select.appendChild(opt);
                    });
                },
                error: function () {
                }
            })
        })
</script>

<div class="col-md-9">
    <form enctype="multipart/form-data" method="post" asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShortDesc"></label>

            @*<textarea style="hyphens:auto; min-width:50%" asp-for="collection.ShortDesc" id="kv-01" rows="15" class="markdown" required data-bs-version="3" data-theme="fa4" title="Krajee Markdown Editor">
                </textarea>*@

            <span class="text-danger" asp-validation-for="ShortDesc"></span>
            <div id="MarkdownEditor">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <textarea asp-for="ShortDesc" style="resize: none;height:300px;" class="w-100 Textarea_color" id="markdownText"># text </textarea>
                </div>
                <div class="col-md-6 div_border_custom">
                    <div style="overflow:auto; max-height:300px" class="w-100" id="ShortDesk">

                    </div>
                </div>
            </div>
            <hr class="hr_custom" />
            <select class="form-select bg_Green" asp-for="ThemaTitle" id="Themss"></select>
        </div>

        <div class="form-group">
            <input hidden asp-for="Collectionid" />
        </div>

        <div class="form-group">
            <label>image</label>
            <input asp-for="ImageFile" accept="image/jpg,image/jpeg" />
        </div>

        <input type="submit" value="@ViewResourcesModel["EditConfirm"]" />
    </form>
</div>

<div class="col-md-3">
    @await Html.PartialAsync("../Shared/Partials/_SidebarPartial.cshtml")
</div>
@* textarea markdown *@

<script type="text/javascript">

    let input = document.getElementById("markdownText")
    input.oninput = view;

    function view() {
        var text = $("#markdownText").val();
        target = document.getElementById('ShortDesk'),
            converter = new showdown.Converter(),
            html = converter.makeHtml(text);
        target.innerHTML = html;
    }
</script>

<script src="~/CustomMarkdownEditor/JS/CustomMarkdownJs.js"></script>
<script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.1/dist/showdown.min.js"></script>