@model IEnumerable<CollectionModel>

<div id="scrolList">
    @await Html.PartialAsync("_writeMoreCollections.cshtml")
</div>

    <button onclick="loadItems()">load Mode</button>

    <script>
    $('div#loading').hide();

    var page = 0;
    var _inCallback = false;
    function loadItems() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').show();
            console.log(page);
            $.ajax({
                type: 'GET',
                url: '/Collection/Index/' + page,
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#scrolList").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    }
    </script>
