@model IEnumerable<CollectionMinViewModel>

<div>
    @*<div class="container">*@
        <table class="table text_color table-bordered border-dark Table_custom">
            <thead>
                <tr>
                    <th scope="col">@ViewResourcesModel["Title"]</th>
                    <th scope="col">@ViewResourcesModel["Theme"]</th>
                    <th scope="col">@ViewResourcesModel["More info"]</th>
                    <th scope="col">@ViewResourcesModel["Avtor"]</th>
                </tr>
            </thead>
            <tbody class="" id="renderCollections">
                @await Html.PartialAsync("_writeMoreCollections.cshtml")
            </tbody>
        </table>
        <button class="text-center btn bg_Green" onclick="loadItems()">load Mode</button>
    @*</div>*@ 
</div>

<script>
$('div#loading').hide();
var page = 0;
var _inCallback = false;
function loadItems() {
    if (page > -1 && !_inCallback) {
        _inCallback = true;
        page++;
        $('div#loading').show();
        console.log(page);
        $.ajax({
            type: 'GET',
            url: '/Collection/Index/' + page,
            success: function (data, textstatus) {
                if (data != '') {
                    $("#renderCollections").append(data);
                }
                else {
                    page = -1;
                }
                _inCallback = false;
                $("div#loading").hide();
            }
        });
    }
}
</script>
