@model IEnumerable<ExampleWebSite.Models.CollectionModel>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <h3>@item.Title</h3>
        <h3>@item.Thema</h3>
        <a asp-controller="Collection" asp-action="Details" asp-route-id="@item.Id">Go</a>
    }
}