@*@using Microsoft.AspNetCore.Mvc.Localization
@using ExampleWebSite.ResourcesModels*@

@*@inject IHtmlLocalizer<ViewResourcesModel> ViewResourcesModel*@

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>@ViewData["Title"] MyColection</title>

    @await Html.PartialAsync("Partials/_stylesPartial.cshtml")

</head>
<body class="text_color">
    @await Html.PartialAsync("Partials/_headerPartial.cshtml")
    <main role="main" class="pb-3">
        <div class="container">

            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>

    @*@await Html.PartialAsync("Partials/_wysiwyg_Markdown_editorPartial.cshtml")*@
    @*@await Html.PartialAsync("Partials/_MarkdownEditorMini.cshtml")*@


    @await Html.PartialAsync("Partials/_foterPartial.cshtml")

    @await Html.PartialAsync("Partials/_scriptsPartial.cshtml")

    @RenderSection("Scripts", required: false)
</body>
</html>
