<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    @await Html.PartialAsync("../Shared/Partials/_stylesPartial.cshtml")
    <title></title>
</head>
<body>
    @RenderBody()
</body>
    @await Html.PartialAsync("../Shared/Partials/_scriptsPartial.cshtml")

    @RenderSection("Scripts", required: false)
</html>