
<!DOCTYPE html>

<html lang="en">
<head>

    @await Html.PartialAsync("../Shared/Partials/_stylesPartial.cshtml")
    <title></title>
</head>
<body>
    @await Html.PartialAsync("../Shared/Partials/_headerPartial.cshtml")
    <main role="main" class="pb-3">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>
</body>
@await Html.PartialAsync("../Shared/Partials/_scriptsPartial.cshtml")

@RenderSection("Scripts", required: false)
</html>