@model ChangePasswordNonAuthoriseVM

<div class="col-12">
    <div id="login" class="text-white simple-login-container card-body w-media mx-auto bg-dark mt-5" style="width:22rem">
        <h2>Авторизация</h2>


        <form method="post" asp-controller="Account" asp-action="ChangePasswortNonAythorise">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="NewPass"></label>
                <input class="input-group-text bg-swap input-group" required type="password" maxlength="25" asp-for="NewPass">
                <span asp-validation-for="NewPass"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassConfirm"></label>
                <input class="input-group-text bg-swap input-group" required type="password" maxlength="25" asp-for="NewPassConfirm">
                <span asp-validation-for="NewPassConfirm"></span>
            </div>
            @if (ViewBag.userId != null)
            {

                <input id="userChangeId" hidden asp-for="userId" class="input-group-text bg-swap input-group" type="text" value="@ViewBag.userId" />
                <script>
                    sessionStorage.setItem("Idc", $("#userChangeId").val())
                </script>
            }
            else
            {
                <input id="userChangeId" hidden asp-for="userId" class="input-group-text bg-swap input-group" type="text" value="@ViewBag.userId" />
                <script>
                    $("#userChangeId").val(sessionStorage.getItem("Idc"))
                </script>
            }

            <input class="btn bg-white" type="submit" value="сменить пароль" />
        </form>
    </div>
</div>