@model ChangePasswordAuthoriseVM

<div id="login" class="text-white simple-login-container card-body w-media mx-auto bg-dark mt-5" style="width:22rem">
    <form method="post" asp-action="ChangePasswordAuthorise" asp-controller="Account">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="oldPass"></label>
            <input asp-for="oldPass" class="input-group-text input-group bg-swap" type="password" />
            <span asp-validation-for="oldPass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPass"></label>
            <input asp-for="NewPass" class="input-group-text input-group bg-swap" type="password" />
            <span asp-validation-for="NewPass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassConfirm"></label>
            <input asp-for="NewPassConfirm" class="input-group-text input-group bg-swap" type="password" />
            <span asp-validation-for="NewPassConfirm" class="text-danger"></span>
        </div>
        <input hidden asp-for="name" value="@User.Identity.Name" />

        <input type="submit" class="btn-info" value="Изменить пароль" />
    </form>
</div>