@model User

    <div>
        <form method="post" asp-action="EditThemeModal" asp-controller="Account">
            <button type="submit" value="white" name="Thema">white</button>
            <button type="submit" value="dark" name="Thema">dark</button>
            <button type="submit" value="auto" name="Thema">auto</button>
        </form>
    </div>