@model FindUserViewModel

<div class="col-md-12 text-center">
    <div>
        <form asp-action="FindBandeUsers" asp-controller="Account" method="get" class="input-group text-white col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <div class="input-group mb-3">
                <input type="text" asp-for="SearchString" class="search_input border-secondary form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="submit" class="search_input btn btn-info m-0">@ViewResourcesModel["Search"]</button>
                </div>
            </div>
        </form>
        <div class="row">
            @await Html.PartialAsync("_WriteMoreUsers.cshtml")
        </div>
    </div>
</div>

<script>
    var pageus = 0;
    var _inCallback = false;
    window.addEventListener('scroll', function () {

        if (pageus > -1 && !_inCallback) {
            _inCallback = true;
            pageus++;
            $('div#loading').show();
            console.log(pageus);
            $.ajax({
                type: 'GET',
                url: "@Url.Action("FindBandeUsers", "Account")",
                data: { },
                success: function (data, textstatus) {
                    if (data != '') {
                        $("#RenderUsers").append(data);
                    }
                    else {
                        page = -1;
                    }
                    _inCallback = false;
                    $("div#loading").hide();
                }
            });
        }
    });
</script>