@model RegisterViewModel

<div class="col-12">
    <div class="simple-login-container card-body w-media mx-auto bg-dark text-white " style="width:22rem">
        <h2>@ViewResourcesModel["Register"]</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group m-1">
                        <label asp-for="UserName"></label>
                        <input class="input-group-text input-group" asp-for="UserName">
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group m-1">
                        <label asp-for="Email"></label>
                        <input class="input-group-text input-group" type="email" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group m-1">
                        <label asp-for="Password"></label>
                        <input class="input-group-text input-group" type="password" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group m-1">
                        <label asp-for="ConfirmPassword"></label><br />
                        <input class="input-group-text input-group" type="password" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <div class="form-group">
                        <input type="submit" class="bg-white bg-swap btn" value="@ViewResourcesModel["Enter"]">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}