@{
    ViewData["Title"] = "Home Page";
}

@*@inject IHtmlLocalizer<ViewResourcesModel> ViewResourcesModel*@

<div class="text-center">
    <h1 class="display-4">@ViewResourcesModel["Hello"]</h1>
    <h1 class="display-4"></h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
