@model ExampleWebSite.ViewModels.ToMessageViewModel

<div class="alert alert-secondary" role="alert">
    @Model.Message 
    @if(!string.IsNullOrEmpty(Model.Href)){
         <a href = "@Model.Href" class="alert-link">@Model.HrefText</a>
    }
</div>