/*
    #gray #404040
    #dark #1f1e1e;
    #white #white
    #green #008080

*/

.bg_swap_border {
    background-color: #008080;
    color: #0f0f0f;
    border: 2px solid #0d7373;
}

body {
    background-color:#e1e1e1;
}

.HeadStyle {
    background-color: #404040;
    color: #dedede;
    border-bottom: 3px solid #1f1e1e;
}

.UserInfo {
    border-left: 3px solid #1f1e1e;
}

.hr_custom {
    height: 1px;
    background-color: #1f1e1e;
}

.bg_Green {
    background-color: #008080;
    color: #dedede;
    border: 2px solid #1f1e1e;
}

.text_color {
    color: #0f0f0f;
}

.Table_custom {
    background-color: #e1e1e1;
    border: solid 1px #1f1e1e;
}

.bg_green_b {
    background-color: #008080;
}
.input_custom {
    background-color: #d6d5d5;
    color: #1f1e1e;
}
.div_border_custom {
    border: solid 1px #1f1e1e;
}
.bg_swap_gray {
    background-color: #eeeeee;
}