body {
    background-color:#e1e1e1;
}

.HeadStyle {
    background-color: #e1e1e1;
    border-bottom: 3px solid black;
}

.UserInfo {
    border-left: 3px solid black;
}

.hr_custom{
    height:1px;
    background-color:black;
}

.bg_Green {
    background-color: #18d878;
    border: 2px solid black;
}

.text_color {
    color: #0f0f0f;
}
