
<div class="btn-group-vertical">
    <input class="btn h-auto m-1 bg_Green btn-lg btn-block" value="@ViewResourcesModel["General"]" asp-action="Index" asp-controller="Account" />
    <input class="btn m-1 bg_Green btn-lg btn-block" value="@ViewResourcesModel["PersonalData"]" asp-action="PersonalData" asp-controller="Account" />
    <input class="btn m-1 bg_Green btn-lg btn-block" value="@ViewResourcesModel["Logout"]" asp-action="Logout" asp-controller="Account" />
    <input class="btn m-1 bg_Green btn-lg btn-block" value="@ViewResourcesModel["Help"]" asp-action="Help" asp-controller="Account" />
</div>