
<div class="btn-group-vertical">
    <a class="btn btn-group m-1 bg_Green btn-lg btn-block" asp-action="Index" asp-controller="Account">@ViewResourcesModel["General"]</a>
    <a class="btn m-1 bg_Green btn-lg btn-block" asp-action="PersonalData" asp-controller="Account">@ViewResourcesModel["PersonalData"]</a>
    <form asp-controller="Account" asp-action="Logout" class="w-100">
        <input type="submit" class="btn m-1 bg_Green btn-lg btn-block" value="@ViewResourcesModel["Logout"]" />
    </form>
    <a class="btn m-1 bg_Green btn-lg btn-block" asp-action="Help" asp-controller="Account">@ViewResourcesModel["Help"]</a>
</div>