@model ItemModel

<div class="col-12">
    <form class="text-center" asp-action="Delete">
        <input type="hidden" asp-for="Id">
        <input type="submit" class="btn bg-danger" value="Удалить" />
    </form>
</div>
